.contact {
    padding-top: 7px;
    text-align: center;

    .contact-links {
        display: flex;
        justify-content: space-around;
    }

    a,
    a:hover,
    a:visited,
    a:active {
        color: #ccc;

        .fa-linkedin {
            color: #0077B5;
        }

        .fa-github {
            color: #131418;
        }

        .fa-graduation-cap {
            color: #159957;
        }

        .fa-instagram {
            color: #e4405f;
        }
        .fa-chalkboard-teacher{
            color: #2069e0;
        }
        .fa-twitter {
            color: #55acee;
        }

        .fa-reddit {
            color: #ff5700;
        }

        &.hashnode {
            background-image: url('../../assets/images/hashnodeicon.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

            width: 25px;
        }
    }
    .contact-links p {
        font-size: small;
    }
}