@media (min-width: 576px) {
  .jumbotron {
    padding: 2rem 2rem;
  }
}

.profile {
  width: 10em;
  height: 10em;
  border: 5px solid rgba(255, 255, 2555, 0.7);
  border-radius: 50%;
  background-image: url('../../assets/images/nilroy.jpg');
  background-size: cover;
  margin: auto;
}

.site-header {
  // background: #181717;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  border-bottom: 2px solid #aaa;

  color: #212121;

  padding: 1rem 1rem;

  h2 {
    &.title {
      &:before {
        content: "<"
      }

      &:after {
        content: " />"
      }
    }
  }

  .name{
    // font-size: 4rem;
  }
  // .role{
  //   color: #d65a31;
  // }
  .title {
    font-family: monospace;
    color: #2069e0;
  }

  .cursive {
    font-family: 'Tangerine', cursive;
  }

  .gyan {
    font-size: 3em;
  }

  .intro{
    font-size: 1.5rem;
    @media (max-width: 991.98px){
        font-size: 1rem;
      }
      .contact{
        font-size: 1.75rem;
      }
    // .work{
    //   color: #d65a31
    // }
    // .edu{
    //   color: #ffd700;
    // }
  }

  .row {
    align-items: center;
  }
}